{% extends "base.html" %}
{% block privateJsAndCss %}
<script src="http://cdn.bootcss.com/messenger/1.5.0/js/messenger.min.js"></script>
<link href="http://cdn.bootcss.com/messenger/1.5.0/css/messenger.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/messenger/1.5.0/css/messenger-theme-future.css" rel="stylesheet">
<script>
    $._messengerDefaults = {
        extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top messenger-on-right'
    }
</script>
<style type="text/css">
    body {
        padding-top: 70px;
    }
    table {
        table-layout: fixed;
    }
    table tr td {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;/* IE */
        -moz-text-overflow: ellipsis;/* Firefox,mozilla */
    }
</style>
{% endblock %}

{% block currentNav %}
<li><a href="#">总览</a></li>
<li><a href="/dmp/structmans/">人群构建</a></li>
<li><a href="#">人群分析</a></li>
<li><a href="#">用户画像</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 数据字典 <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/dmp/phoneinfo/">手机标注</a></li>
        <li><a href="/dmp/appsinfo/">APP标注</a></li>
        <li><a href="/dmp/locations/">位置信息</a></li>
{#        <li class="active"><a href="/dmp/ads/">广告信息</a></li>#}
        <li><a href="/dmp/interest/">兴趣映射</a></li>
    </ul>
</li>
<li><a href="#">工具</a></li>
<li><a href="/admin" target="_blank">管理</a></li>
{% endblock %}

{% block contentPage %}
{% for msg in messages %}
    {% ifequal msg.message 'success' %}
        <script>
        $.globalMessenger().post({message: "Successfully !", type: "success", showCloseButton: false, hideAfter: 3, hideOnNavigate: true});
        </script>
    {% else %}
        <script>
        $.globalMessenger().post({message: "Update failed ! please try again !", type: "error", showCloseButton: false, hideAfter: 3, hideOnNavigate: true});
        </script>
    {% endifequal %}
{% endfor %}

{% load dictLibs %}

<table class="table table-hover">
    <thead>
    <tr>
        <th width="6%">序号</th>
        <th>广告ID</th>
        <th>行业分类</th>
        <th width="30%">描述关键字</th>
        <th>兴趣分类</th>
        <th>展示</th>
        <th>点击</th>
        <th width="8%">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for app in apps %}

    <tr><!-- success|error|warning|info -->
        <td>{{ forloop.counter}}</td>
        <td title="{{ app.appName }}">{{ app.appName }}</td>
        <td>
            {{ app.appStage|dict_name:'行业分类' }}
        </td>
        <td></td>
        <td>
            {{ app.appBssIntr|dict_name:'兴趣分类' }}
        </td>
        <td>{{ app.appFlux|floatformat:0 }}</td>
        <td>{{ app.appFluxPer|floatformat:5 }}%</td>
        <td>
            <a href="/dmp/locations/edit/?id={{ app.id }}&&p={{ apps.number }}&&pm={{ pageMulti }}" role="button" data-toggle="modal">编辑</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav>
  <ul class="pagination">
      {% if pageMulti > 1 %}
          <li>
            <a href="?page={% widthratio pageMulti|add:-1 1 one_page_num %}&&pageMulti={{ pageMulti|add:'-1' }}" aria-label="Previous">
            <span aria-hidden="true">上一页</span>
            </a>
          </li>
      {% endif %}

    {% for page in page_curt_range %}
    {% if page %}
    {% ifequal page apps.number %}
        <li class="active"><a href="#">{{ page }}</a></li>
    {% else %}
        <li><a href="?page={{ page }}&&pageMulti={{ pageMulti }}">{{ page }}</a></li>
    {% endifequal %}
    {% endif %}
    {% endfor %}

    {% if has_next %}
        <li>
            <a href="?page={% widthratio pageMulti|add:1 1 one_page_num %}&&pageMulti={{ pageMulti|add:'1'}}" aria-label="Next">
            <span aria-hidden="true">下一页</span>
            </a>
        </li>
    {% endif %}
    <li><label class="label label-primary" style="margin-left: 50px;font-size: 12px;">当前第 {{ apps.number }} 页, 总 {{ apps.paginator.num_pages }} 页。</label></li>
  </ul>
  <ul></ul>
</nav>

{% endblock %}
