{% extends "base.html" %}
{% load staticfiles %}
{% block privateJsAndCss %}
    <link rel="stylesheet" href="{% static "selectpicker/css/bootstrap-select.css" %}">
    <script src="{% static "selectpicker/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "selectpicker/js/i18n/defaults-zh_CN.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#appformsubmit").submit(function (e) {
                var search_select_value = '';
                $("#appBssIntr1 option:selected").each(function () {
                    search_select_value += $(this).val() + ",";
                });
                if (search_select_value) {
                    $("#appBssIntr2").attr("value", search_select_value);
                } else {
                    $("#appBssIntr2").attr("value", "");
                }
                return true;
            });
            var selected_value = '{{ app.appBssIntr }}';
            if (selected_value.length > 0) {
                $.each(selected_value.split(","), function (i, val) {
                    if (val) $("#appBssIntr1 option[value=" + val + "]").attr("selected", true);
                });
            }
        });
    </script>
{% endblock %}
{% block contentPage %}
    <br><br><br>
    {% load dictLibs %}
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
            编辑APP信息
        </h4>
    </div>
    <div class="modal-body">
        <form id="appformsubmit" class="form-horizontal" method="post" action="/dmp/appsinfo/update/">{% csrf_token %}
            <div class="form-group">
                <label class="col-lg-2 control-label">APP标识</label>
                <div class="col-lg-10">
                    <p class="form-control-static">
                        <abbr title="点击后面按钮查看App描述">{{ app.appName }}</abbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="label label-success" href="http://android.myapp.com/myapp/search.htm?kw={{ app.appName }}" target="_blank">应用宝</a>
                        <a class="label label-info" href="http://zhushou.360.cn/search/index/?kw={{ app.appName }}" target="_blank">360手机助手</a>
                        <a class="label label-primary" href="http://shouji.baidu.com/s?wd={{ app.appName }}&data_type=app" target="_blank">百度手机</a>
                        <a class="label label-warning" href="http://app.xiaomi.com/search?keywords={{ app.appName }}" target="_blank">小米应用商店</a>
                        <a class="label label-danger" href="http://www.anzhi.com/search.php?keyword={{ app.appName }}" target="_blank">安卓市场</a>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-lg-2 control-label">APP描述</label>
                <div class="col-lg-10">
                <textarea id="appDesc_{{ app.id }}" class="form-control" rows="5" name="appDesc"
                          placeholder="APP描述">{{ app.appDesc }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="maxOption2" class="col-lg-2 control-label">兴趣分类</label>
                <div class="col-lg-10">
                    <select id="appBssIntr1" name="appBssIntr1" multiple class="selectpicker show-tick form-control" data-live-search="true">
                        <option value="0">未知</option>
                        {% for type in interest_type_list %}
                            {% if type.dictId|length == 5 and forloop.first%}
                            <optgroup label="{{ type.dictName }}" >
                            {% elif type.dictId|length == 9 %}
                                <option value="{{ type.dictId }}" {% ifequal app.appBssIntr type.dictId %} selected{% endifequal %}>{{ type.dictName }}</option>
                                {% if forloop.last %}
                                    </optgroup>
                                {% endif %}
                            {% elif type.dictId|length == 5 %}
                            </optgroup><optgroup label="{{ type.dictName }}" >
                                {% if forloop.last %}
                                    </optgroup>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-lg-2 control-label">类别</label>
                <div class="col-lg-10">
                    <select id="appType_{{ app.id }}" class="form-control" name="appType">
                        {% dicts_tag 'APP类别' app.appType %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-lg-2 control-label">性别</label>
                <div class="col-lg-10">
                    <select id="appSex_{{ app.id }}" class="form-control" name="appSex">
                        {% dicts_tag '性别' app.appSex %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-lg-2 control-label">年龄段</label>
                <div class="col-lg-10">
                    <select id="appAge_{{ app.id }}" class="form-control" name="appAge">
                        {% dicts_tag '年龄段' app.appAge %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-lg-2 control-label">人生状态</label>
                <div class="col-lg-10">
                    <select id="appStage_{{ app.id }}" class="form-control" name="appStage">
                        {% dicts_tag '人生阶段' app.appStage %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-lg-2 control-label">媒介</label>
                <div class="col-lg-10">
                    <select id="appMedium_{{ app.id }}" class="form-control" name="appMedium">
                        {% dicts_tag '媒体' app.appMedium %}
                    </select>
                </div>
            </div>
            <br>
            <div class="modal-footer ">
                <input type="hidden" name="q" value="{{ search_value }}"/>
                <input type="hidden" name="appn" value="{{ search_appn }}"/>
                <input type="hidden" name="appId" value="{{ app.id }}"/>
                <input type="hidden" name="page" value="{{ page }}"/>
                <input type="hidden" name="pageMulti" value="{{ pageMulti }}"/>
                <input type="hidden" id="appBssIntr2" name="appBssIntr"/>
                <button type="button" class="btn btn-default" onclick="javascript:history.back();">返&nbsp;&nbsp;回</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">提&nbsp;&nbsp;交</button>
            </div>
        </form>
    </div>
{% endblock %}
